log.txt
terraform-provider-catena_v*
.venv/
__pycache__/
internal/genproto/*.pb.go
terraform.tfstate*

**/ndi/*
**/mxl/*
**/ts/*
!external/ts/ross_logo_loop2.ts
opentofu/.terraform/*
opentofu/.terraform.lock.hcl
build/
*.mp4
tofu.env
external/rpm/PlatformManager-3.13.0-SNAPSHOT-2087.20260311.1153.202c7d.tar.gz
